Language: Cpp

BasedOnStyle: Mozilla
IndentWidth: 4
AccessModifierOffset: -4
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None

# 大括号的换行规则
BreakBeforeBraces: Custom
BraceWrapping:
  # case 语句后面
  AfterCaseLabel: true
  # class定义后面
  AfterClass: true
  # 控制语句后面
  AfterControlStatement: Never
  # enum定义后面
  AfterEnum: true
  # 函数定义后面
  AfterFunction: false
  # 命名空间定义后面
  AfterNamespace: false
  # ObjC定义后面
  AfterObjCDeclaration: false
  # struct定义后面
  AfterStruct: false
  # union定义后面
  AfterUnion: true
  # extern 导出块后面
  AfterExternBlock: false
  # catch之前
  BeforeCatch: true
  # else之前
  BeforeElse: false
  # 缩进大括号(整个大括号框起来的部分都缩进)
  IndentBraces: false
  # 空函数的大括号是否可以在一行
  SplitEmptyFunction: true
  # 空记录体(struct/class/union)的大括号是否可以在一行
  SplitEmptyRecord: true
  # 空名字空间的大括号是否可以在一行
  SplitEmptyNamespace: true

# 代码列数限制
ColumnLimit: 100
